<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}

<html>
	<head>
		<title>Category</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'BookLovers/assets/css/main.css' %}" />
	</head>
	<style>
		.first {
			float: left;
			width: 48.5%;
			margin-left: 17px;
		}

		.second {
			float: right;
			width: 48.5%;
			margin-right: 17px;
		}

		.category {
			float: left;
			margin-top: 10px;
			margin-left: 80px;
			margin-bottom: 20px;
			text-align-last: center;
			border: 1px solid #1abc9c;
		}

		th, td {
			border: 1px solid black;
		}
	</style>

	<body>
		<!-- Header -->
		<header id="header">
			<a href="../index" class="logo"><strong>Book Lovers</strong></a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>


		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="../index">Home</a></li>
				<li><a href="../index/category">Category</a></li>
				<li><a href="../index/mbti">MBTI</a></li>
				<li><a href="../index/healing">Healing</a></li>
			</ul>
		</nav>


		<!-- Main -->
		<section id="main">
			<div class="inner">
				<header>
					<p class="info">Category Classification</p>
				</header>
			</div>
			<div class="first">
				<div style="text-align: center;">
					<div class="category">
						<span>연령</span>
						<select id="ageType">
							<option name="None" value='' selected>-- 선택 --</option>
							<option name='child' value="0">어린이</option>
							<option name='childhood' value="14">청소년</option>
							<option name='adult' value="20">성인</option>
							<option name='old' value="60">노년층</option>
						</select>
					</div>
					<div class="category">
						<span>장르</span>
						<select id="genreType">
							<option name="None" value='' selected>-- 선택 --</option>
							<option name='generality' value="0">총류</option>
							<option name='philosophy' value="1">철학</option>
							<option name='religion' value="2">종교</option>
							<option name='social_science' value="3">사회과학</option>
							<option name='natural_science' value="4">자연과학</option>
							<option name='descriptive_science' value="5">기술과학</option>
							<option name='art' value="6">예술</option>
							<option name='language' value="7">언어</option>
							<option name='literature' value="8">문학</option>
							<option name='history' value="9">역사</option>
						</select>
					</div>
					<div class="category">
						<span>성별</span>
						<select id="genderType">
							<option name="None" value='' selected>-- 선택 --</option>
							<option name='male' value="0">남자</option>
							<option name='female' value="1">여자</option>
						</select>
					</div>

					<div>
						<button id="searchBtn" type="button" style="margin: 10px">검색</button>
					</div>
				</div>

				<!-- 결과 출력 -->
				<div style="overflow: scroll; width: 100%; height: 600px; display: inline-block;">
					<table>
						<tr>
							<th style="text-align: center">책 제목</th>
							<th style="text-align: center">책 표지</th>
						</tr>
						<tbody id="tbody">
						</tbody>
					</table>
				</div>
			</div>

			<div class="second">
				<div id="bookInfo">
				</div>
			</div>

			<div>
				<table id="bookList">
				</table>
			</div>
		</section>


		<!-- Scripts -->
		<script src="{% static 'BookLovers/assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'BookLovers/assets/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'BookLovers/assets/js/skel.min.js' %}"></script>
		<script src="{% static 'BookLovers/assets/js/util.js' %}"></script>
		<script src="{% static 'BookLovers/assets/js/main.js' %}"></script>

		<!-- 조건 검색한 도서 리스트의 목록을 테이블에 출력 -->
		<script>
			$(document).ready(function() {
				$('#searchBtn').click(function() {
					$('#tbody').empty()
					$('#bookList').empty()

					// ajax 통신 - json
					$.ajax({
						url : "{% url 'category_info' %}",
						type : "post",
						data : {'csrfmiddlewaretoken' : '{{ csrf_token }}', ageType : $('#ageType').val(), genreType : $('#genreType').val(), genderType : $('#genderType').val()},
						dataType : "json",
						success : function(data) {
							var txt = "";

							$.each(data , function(idx, obj) {
								txt += "<tr><td align='center' vertical-align='middle'><a href='javascript:void(0);' onclick='callFunction(" + obj.isbn13 + ");'>" + obj.bookname + "</a></td>";
								txt += "<td style='text-align: center'>" + "<img src='" + obj.bookImageURL + "' width='82px' height='113px'/>" + "</td></tr>";
							});

							$("#tbody").append(txt);
						}
					})
				})
			})
		</script>

		<!-- 검색 결과로 나온 도서 이름을 클릭하면 해당 도서의 상세 정보 출력 -->
		<script>
			function callFunction(isbn13) {
				$('#bookInfo').empty()

				// ajax 통신 - json
				$.ajax({
					url : "{% url 'book_info' %}",
					type : "post",
					data : {'csrfmiddlewaretoken' : '{{ csrf_token }}', isbn : isbn13},
					dataType : "json",
					success : function(data) {
						var txt = "";

						$.each(data , function(idx, obj) {
							txt += "<p style='float: right; margin-right: 50px'>" + "<img src='" + obj.bookImageURL + "' width='200' height='302'/>" + "</p>";
							txt += "<h2 id='bookName'>" + obj.bookname + "</h2>";
							txt += "<dl><dt>저자</dt><dd>" + obj.authors + "</dd><br/>";
							txt += "<dt>출판사</dt><dd>" + obj.publisher + "</dd><br/>";
							txt += "<dt>출판년도</dt><dd>";
							if (obj.publication_year.length != 0)
								txt += obj.publication_year;
							else
								txt += "~";
							txt += "</dd><br/>";
							txt += "<dt>책 소개</dt><dd>" + obj.description + "</dd></dl>";
							txt += "<button id='searchContent' type='button' onclick='callContentFunction();'>비슷한 책 내용의 도서 목록</button>&nbsp";
							txt += "<button id='searchPopularity' type='button' onclick='callPopularityFunction();'>비슷한 인기도의 도서 목록</button>";
						});

						$("#bookInfo").append(txt);
					}
				})
			}
		</script>

		<!-- 해당 도서 내용과 비슷한 도서 리스트 출력 -->
		<script>
			function callContentFunction() {
				$('#bookList').empty()

				// ajax 통신 - json
				$.ajax({
					url : "{% url 'content_info' %}",
					type : "post",
					data : {'csrfmiddlewaretoken' : '{{ csrf_token }}', bookName : $('#bookName').text()},
					dataType : "json",
					success : function(data) {
						var txt = "";

						$.each(data , function(idx, obj) {
							txt += "<tr><td align='center' vertical-align='middle'><a href='javascript:void(0);' onclick='callFunction(" + obj.isbn13 + ");'>" + obj.bookname + "</a></td>";
							txt += "<td style='text-align: center'>" + "<img src='" + obj.bookImageURL + "' width='82px' height='113px'/>" + "</td></tr>";
						});

						$("#bookList").append(txt);
					}
				})
			}
		</script>

		<!-- 해당 도서의 인기도가 비슷한 도서 리스트 출력 -->
		<script>
			function callPopularityFunction() {
				$('#bookList').empty()

				// ajax 통신 - json
				$.ajax({
					url : "{% url 'popularity_info' %}",
					type : "post",
					data : {'csrfmiddlewaretoken' : '{{ csrf_token }}', bookName : $('#bookName').text()},
					dataType : "json",
					success : function(data) {
						var txt = "";

						$.each(data , function(idx, obj) {
							txt += "<tr><td align='center' vertical-align='middle'>" + obj.bookname + "</td>";
							txt += "<td align='center' vertical-align='middle'>" + obj.author + "</td>";
							txt += "<td style='text-align: center'>" + "<img src='" + obj.bookImageURL + "' width='82px' height='113px'/>" + "</td></tr>";
						});

						$("#bookList").append(txt);
					}
				})
			}
		</script>

	</body>
</html>
