<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}

<html>
	<head>
		<title>Final Project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'BookLovers/assets/css/main.css' %}" />
	</head>
	<style>
		#banner {
			height: 866px;
			background-image: url("{% static 'BookLovers/images/7.gif' %}");
			background-size: cover;
		}
	</style>

	<body>

		<!-- Header -->
		<header id="header">
			<a href="../index" class="logo"><strong>Book Lovers</strong></a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>


		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="../index" class="scrolly big">Home</a></li>
				<li><a href="#one" class="scrolly big">Category</a></li>
				<li><a href="#two" class="scrolly big">MBTI</a></li>
				<li><a href="#three" class="scrolly big">Healing</a></li>
			</ul>
		</nav>


		<!-- Banner -->
		<section id="banner" >
			<div class="inner">
				<h1>This is BookLovers</h1>
				<ul class="actions">
					<li><a href="#one" class="button alt scrolly big">Continue</a></li>
				</ul>
			</div>
		</section>


		<!-- One -->
		<article id="one" class="post style1">
			<div class="image">
				<img src="{% static 'BookLovers/images/8.jpg' %}" alt="" data-position="75% center" />
			</div>
			<div class="content">
				<div class="inner">
					<header>
						<h2><a href="category">Category Classification</a></h2>
					</header>
					<p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
					<ul class="actions">
						<li><a href="category" class="button alt">Read More</a></li>
					</ul>
				</div>
				<div class="postnav">
					<a href="#" class="prev disabled"><span class="icon fa-chevron-up"></span></a>
					<a href="#two" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
				</div>
			</div>
		</article>


		<!-- Two -->
		<article id="two" class="post invert style1 alt">
			<div class="image">
				<img src="{% static 'BookLovers/images/7.jpg' %}" alt="" data-position="10% center" />
			</div>
			<div class="content">
				<div class="inner">
					<header>
						<h2><a href="mbti">MBTI Test & Recommendation</a></h2>
					</header>
					<p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
					<ul class="actions">
						<li><a href="mbti" class="button alt">Read More</a></li>
					</ul>
				</div>
				<div class="postnav">
					<a href="#one" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
					<a href="#three" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
				</div>
			</div>
		</article>


		<!-- Three -->
		<article id="three" class="post style2">
			<div class="image">
				<img src="{% static 'BookLovers/images/3.jpg' %}" alt="" data-position="80% center" />
			</div>
			<div class="content">
				<div class="inner">
					<header>
						<h2><a href="healing">Healing Recommendation</a></h2>
					</header>
					<p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
					<ul class="actions">
						<li><a href="healing" class="button alt">Read More</a></li>
					</ul>
				</div>
				<div class="postnav">
					<a href="#two" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
					<a href="#four" class="prev disabled"><span class="icon fa-chevron-down"></span></a>
				</div>
			</div>
		</article>


		<!-- Scripts -->
		<script src="{% static 'BookLovers/assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'BookLovers/assets/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'BookLovers/assets/js/skel.min.js' %}"></script>
		<script src="{% static 'BookLovers/assets/js/util.js' %}"></script>
		<script src="{% static 'BookLovers/assets/js/main.js' %}"></script>

	</body>
</html>