<!DOCTYPE HTML>
<!--
   Binary by TEMPLATED
   templated.co @templatedco
   Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}

<html>
   <head>
      <title>Final Project</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="{% static 'BookLovers/assets/css/main.css' %}" />
   </head>
   <style>
      #banner {
         height: 866px;
         background-image: url("{% static 'BookLovers/images/7.gif' %}");
         background-size: cover;
      }
   </style>

   <body>

      <!-- Header -->
      <header id="header">
         <a href="../index" class="logo"><strong>Book Lovers</strong></a>
         <nav>
            <a href="#menu">Menu</a>
         </nav>
      </header>


      <!-- Nav -->
      <nav id="menu">
         <ul class="links">
            <li><a href="../index" class="scrolly big">Home</a></li>
            <li><a href="#one" class="scrolly big">MBTI</a></li>
            <li><a href="#two" class="scrolly big">Category</a></li>
            <li><a href="#three" class="scrolly big">Healing</a></li>
         </ul>
      </nav>


      <!-- Banner -->
      <section id="banner" >
         <div class="inner">
            <h1>Book Clinic with Data Analysis</h1>
            <ul class="actions">
               <li><a href="#one" class="button alt scrolly big">Continue</a></li>
            </ul>
         </div>
      </section>


      <!-- One -->
      <article id="one" class="post style1">
         <div class="image">
            <img src="{% static 'BookLovers/images/7.jpg' %}" alt="" data-position="70% center" />
         </div>
         <div class="content">
            <div class="inner">
               <header>
                  <h2><a href="mbti">MBTI Test & Recommendation</a></h2>
               </header>
               <p><span style="font-size: large">당신의 MBTI에 알맞는 책이 궁금하지 않으신가요?<br>
                  재미로 보는 MBTI 검사를 통해 당신의 MBTI를 찾고 책을 추천받아보세요~<br>
                  <br>
                  MBTI 특성에 맞는 도서는 군집분석 된 도서키워드와 MBTI의 유형별 키워드 매칭을 통해
                  각 유형별로 <u><strong style="font-style: italic;">'당신과 어쩌면 잘 맞을지도 모를책 ', '당신의 성격을 보완해 줄 책 ', '당신과 정반대 성향의 사람이 관심 가질 책 '</strong></u>을 엄선했습니다.<br>
                  <br>
                  추천 책을 통해 나와 어울리는 책을 찾고 어떻게 나를 발전시킬 수 있을지 정보를 제공해 줌으로써
                  독서에 대한 관심을 유발하는 것을 목표로 만들었습니다.<br>
                  <br>

                  이 기회에 추천 받은 책을 한 번 읽어보는건 어떨까요?</span></p>
               <ul class="actions">
                  <li><a href="mbti" class="button alt">Read More</a></li>
               </ul>
            </div>
            <div class="postnav">
               <a href="#" class="prev disabled"><span class="icon fa-chevron-up"></span></a>
               <a href="#two" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
            </div>
         </div>
      </article>


      <!-- Two -->
      <article id="two" class="post invert style1 alt">
         <div class="image">
            <img src="{% static 'BookLovers/images/8.jpg' %}" alt="" data-position="70% center" />
         </div>
         <div class="content">
            <div class="inner">
               <header>
                  <h2><a href="category">Category Classification</a></h2>
               </header>
               <p><span style="font-weight: bold; font-size : large">
                  지금 무슨책을 읽을까 고민하는 당신!<br>
                  당신의 고민을 해결해드리겠습니다.<br>
                  <br>
                  저희는 전국 도서관의 성별, 연령, 장르에 따른 책 정보를 가져와 대여수를 기준으로
                  인기 많은 책 리스트를 제공해드리고 있습니다.<br>
                  <br>
                  또한, 당신이 선택한 책과 비슷한 내용의 책, 당신이 선호하는 책과 비슷한 수준의 인기를 가진 책
                  두가지의 정보를 추가적으로 제공해드리고 있습니다.<br>
                  <br>
                  다른 사람들이 어떤 책을 선호하는지 살펴보는 것을 통해 당신만의 책을 골라보는것은 어떨까요?
                  많은 책이 당신을 기다리고 있습니다.</span>
               </p>
               <ul class="actions">
                  <li><a href="category" class="button alt">Read More</a></li>
               </ul>
            </div>
            <div class="postnav">
               <a href="#one" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
               <a href="#three" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
            </div>
         </div>
      </article>


      <!-- Three -->
      <article id="three" class="post style2">
         <div class="image">
            <img src="{% static 'BookLovers/images/3.jpg' %}" alt="" data-position="70% center" />
         </div>
         <div class="content">
            <div class="inner">
               <header>
                  <h2><a href="healing">Healing Recommendation</a></h2>
               </header>
               <p><span style="font-weight: bold;font-size : large">매일매일 지친 하루를 보내는 당신!<br>
                  스스로에게 Healing을 주는 것은 어떤가요?<br>
               <br>
               최근 코로나로 인해 지친 사람들에게 힐링이 되는 책을 제공해 줌으로써 사람들의 마음에
               작은 울림과 감동을 주기 위한 목표를 가지고 만들었습니다.<br>
                  <br>
               Healing 관련 키워드를 통해 책을 선별하고 책 서평을 통해 긍정 부정 점수를 부여함으로써 가장 긍정적인 책을 추천해주는 서비스입니다.<br>
                     <br>
               바깥출입이 어려운 시기인 지금 따뜻한 실내에서 독서로 마음의 양식을 길러보세요.
                  우리 모두 코로나 블루를 Healing Book을 통해 극복해 나갑시다.</span>
               </p>
               <ul class="actions">
                  <li><a href="healing" class="button alt">Read More</a></li>
               </ul>
            </div>
            <div class="postnav">
               <a href="#two" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
               <a href="#" class="next disabled"><span class="icon fa-chevron-down"></span></a>
            </div>
         </div>
      </article>


      <!-- Scripts -->
      <script src="{% static 'BookLovers/assets/js/jquery.min.js' %}"></script>
      <script src="{% static 'BookLovers/assets/js/jquery.scrolly.min.js' %}"></script>
      <script src="{% static 'BookLovers/assets/js/skel.min.js' %}"></script>
      <script src="{% static 'BookLovers/assets/js/util.js' %}"></script>
      <script src="{% static 'BookLovers/assets/js/main.js' %}"></script>

   </body>
</html>