<!DOCTYPE HTML>
<!--
	Binary by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}

<html>
	<head>
		<title>MBTI Result</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'BookLovers/assets/css/main.css' %}" />
		<style>
            #container {
                width: 100%;
                height: 100%;
                margin: auto;
                top:50%;
                left:50%;
            }

            .q_a {
                height: 90%;
                width: 100%;
                text-align : center;
            }

            .btn {
                margin-left: 20px;
                margin-right: 20px;
                // width: 100%;
                display: flex;
                background-color: white;
                justify-content: space-between;
            }

            .more_book {
                // float: left;
                // margin-left: 70px;
            }

            .more_mbti {
                // float: right;
            }
		</style>
	</head>
	<body>

		<!-- Header -->
        <header id="header">
            <a href="../index" class="logo"><strong>Book Lovers</strong></a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>


		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="../index">Home</a></li>
				<li><a href="../index/mbti">MBTI</a></li>
				<li><a href="../index/category">Category</a></li>
				<li><a href="../index/healing">Healing</a></li>
			</ul>
		</nav>


		<!-- Main -->
<!--        <section id="main">-->
<!--            <div class="inner">-->
<!--                <header>-->
<!--                    <p class="info">MBTI Result & Recommendation</p>-->
<!--                </header>-->
<!--            </div>-->
            <div id="wrap">
                <section>
                    <form action="{% url 'otherBook' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="mbti" value="{{mbti}}" />
                        <div id="container">
                            <div class="q_a">
                                {% if mbti == 'INTJ' %}
                                <img src="{% static 'BookLovers/images/MBTI_ISTJ.jpg' %}" />
                                {% elif mbti == 'INTP' %}
                                <img src="{% static 'BookLovers/images/MBTI_INTP.jpg' %}" />
                                {% elif mbti == 'ENTJ' %}
                                <img src="{% static 'BookLovers/images/MBTI_ENTJ.jpg' %}" />
                                {% elif mbti == 'ENTP' %}
                                <img src="{% static 'BookLovers/images/MBTI_ENTP.jpg' %}" />
                                {% elif mbti == 'INFJ' %}
                                <img src="{% static 'BookLovers/images/MBTI_INFJ.jpg' %}" />
                                {% elif mbti == 'INFP' %}
                                <img src="{% static 'BookLovers/images/MBTI_INFP.jpg' %}" />
                                {% elif mbti == 'ENFJ' %}
                                <img src="{% static 'BookLovers/images/MBTI_ENFJ.jpg' %}" />
                                {% elif mbti == 'ENFP' %}
                                <img src="{% static 'BookLovers/images/MBTI_ENFP.jpg' %}" />
                                {% elif mbti == 'ISTJ' %}
                                <img src="{% static 'BookLovers/images/MBTI_ISTJ.jpg' %}" />
                                {% elif mbti == 'ISFJ' %}
                                <img src="{% static 'BookLovers/images/MBTI_ISFJ.jpg' %}" />
                                {% elif mbti == 'ESTJ' %}
                                <img src="{% static 'BookLovers/images/MBTI_ESTJ.jpg' %}" />
                                {% elif mbti == 'ESFJ' %}
                                <img src="{% static 'BookLovers/images/MBTI_ESFJ.jpg' %}" />
                                {% elif mbti == 'ISTP' %}
                                <img src="{% static 'BookLovers/images/MBTI_ISTP.jpg' %}" />
                                {% elif mbti == 'ISFP' %}
                                <img src="{% static 'BookLovers/images/MBTI_ISFP.jpg' %}" />
                                {% elif mbti == 'ESTP' %}
                                <img src="{% static 'BookLovers/images/MBTI_ESTP.jpg' %}" />
                                {% else %}
                                <img src="{% static 'BookLovers/images/MBTI_ESFP.jpg' %}" />
                                {% endif %}
                            </div>
                            <div class="btn">
                                <button type="submit" class="more_book">내가 관심 가질만한 다른 책</button>

                                <button type="button" class="more_book" onClick="location.href='mbti'">처음으로 돌아가기</button>

                                {% if mbti == 'INTJ' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-intj'" >내 유형에 대해 더 알고 싶다면</button>
                                {% elif mbti == 'INTP' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-intp'" >내 유형에 대해 더 알고 싶다면</button>
                                {% elif mbti == 'ENTJ' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-entj'" >내 유형에 대해 더 알고 싶다면</button>
                                {% elif mbti == 'ENTP' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-entp'" >내 유형에 대해 더 알고 싶다면</button>
                                {% elif mbti == 'INFJ' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-infj'" >내 유형에 대해 더 알고 싶다면</button>
                                {% elif mbti == 'INFP' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-infp'" >내 유형에 대해 더 알고 싶다면</button>
                                {% elif mbti == 'ENFJ' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-enfj'" >내 유형에 대해 더 알고 싶다면</button>
                                {% elif mbti == 'ENFP' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-enfp'" >내 유형에 대해 더 알고 싶다면</button>
                                {% elif mbti == 'ISTJ' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-istj'" >내 유형에 대해 더 알고 싶다면</button>
                                {% elif mbti == 'ISFJ' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-isfj'" >내 유형에 대해 더 알고 싶다면</button>
                                {% elif mbti == 'ESTJ' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-estj'" >내 유형에 대해 더 알고 싶다면</button>
                                {% elif mbti == 'ESFJ' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-esfj'" >내 유형에 대해 더 알고 싶다면</button>
                                {% elif mbti == 'ISTP' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-istp'" >내 유형에 대해 더 알고 싶다면</button>
                                {% elif mbti == 'ISFP' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-isfp'" >내 유형에 대해 더 알고 싶다면</button>
                                {% elif mbti == 'ESTP' %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-estp'" >내 유형에 대해 더 알고 싶다면</button>
                                {% else %}
                                <button type="button" class="more_mbti" onClick="location.href='https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-esfp'" >내 유형에 대해 더 알고 싶다면</button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </section>
            </div>
<!--        </section>-->


		<!-- Footer -->
        <footer id="footer">
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>
            <div class="copyright">
                &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
            </div>
        </footer>


		<!-- Scripts -->
        <script src="{% static 'BookLovers/assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'BookLovers/assets/js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'BookLovers/assets/js/skel.min.js' %}"></script>
        <script src="{% static 'BookLovers/assets/js/util.js' %}"></script>
        <script src="{% static 'BookLovers/assets/js/main.js' %}"></script>

	</body>
</html>